:root {
  /* ## Colors ### Primary  */
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 55.9%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* ## Gradients  */
  /* background */
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);

  /* circle */
  --violet-blue : hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);



  /* ### Neutral  */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}

.container {
  padding: 0px !important;
}

.results-container {
  /* border: 1px solid #000000; */
  border-radius: 20px;
  box-shadow: 5px 5px 20px hsl(241, 100%, 89%);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 515px;
  width: 740px;
}
.results {
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  color: #ffffff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.score {
  background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 50%;
  width: 50%;
  padding: 5px;
  margin: 0 auto;
}

.score > p.display-2 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.display-5 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2;
}

.score div {
  position: relative;
  bottom: 15px;
}

.summary {
  background-color: transparent;
}

div.summary > .card {
  margin-bottom: 1em;
}

div.summary>.card>.card-body {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.results, .summary {
  padding: 1.5em;
}
